.html
{
	background-color: #609DFE;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 670px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #609DFE;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -27px;
}

#u86
{
	z-index: 2;
	width: 1159px;
	padding-bottom: 9px;
	margin-bottom: -1px;
	margin-right: -10000px;
}

#u86_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 959px;
	left: -100px;
}

#u4206
{
	z-index: 132;
	width: 234px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 101px;
}

#u304-4
{
	z-index: 21;
	width: 182px;
	min-height: 13px;
	margin-right: -10000px;
	margin-top: 49px;
	left: 372px;
}

#u290-6
{
	z-index: 13;
	width: 50px;
	min-height: 9px;
	margin-right: -10000px;
	margin-top: 55px;
	left: 931px;
}

#pu266
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 993px;
}

#u266
{
	z-index: 19;
	width: 30px;
	height: 35px;
	margin-left: 7px;
}

#u266:hover
{
	margin: 0px 0px 0px 7px;
}

#u266.MuseLinkActive
{
	margin: 0px 0px 0px 7px;
}

#u265-4
{
	z-index: 9;
	width: 45px;
	min-height: 9px;
	margin-top: 1px;
}

#u291
{
	z-index: 20;
	width: 36px;
	height: 36px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 940px;
}

#u291:hover
{
	margin: 20px -10000px 0px 0px;
}

#u291.MuseLinkActive
{
	margin: 20px -10000px 0px 0px;
}

#u96
{
	z-index: 8;
	width: 1160px;
	padding-bottom: 179px;
	margin-right: -10000px;
}

#u96_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#menuu344
{
	z-index: 101;
	width: 756px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 201px;
}

#u362
{
	width: 149px;
	min-height: 31px;
	margin-right: -10000px;
}

#u365
{
	width: 149px;
	padding-bottom: 14px;
}

#u369
{
	width: 149px;
	min-height: 31px;
	margin-right: -10000px;
	left: 151px;
}

#u370
{
	width: 149px;
	padding-bottom: 14px;
}

#u368,#u371
{
	height: 17px;
	width: 149px;
	margin-right: -10000px;
	top: 7px;
}

#u387
{
	width: 150px;
	min-height: 31px;
	margin-right: -10000px;
	left: 302px;
}

#u390
{
	width: 150px;
	padding-bottom: 14px;
}

#u4678
{
	width: 150px;
	min-height: 31px;
	margin-right: -10000px;
	left: 454px;
}

#u4679
{
	width: 150px;
	padding-bottom: 14px;
}

#u401
{
	width: 150px;
	min-height: 31px;
	margin-right: -10000px;
	left: 606px;
}

#u402
{
	width: 150px;
	padding-bottom: 14px;
}

#u365.MuseMenuActive,#u370.MuseMenuActive,#u390.MuseMenuActive,#u4679.MuseMenuActive,#u402.MuseMenuActive
{
	margin: 0px;
}

#u393,#u4681,#u405
{
	height: 17px;
	width: 150px;
	margin-right: -10000px;
	top: 7px;
}

#u4004-3
{
	z-index: 34;
	width: 136px;
	min-height: 79px;
	margin-right: -10000px;
	margin-top: 385px;
	left: 123px;
}

#u2433
{
	z-index: 134;
	width: 859px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-left: 18px;
	padding-right: 39px;
	padding-bottom: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 56px;
	left: 123px;
	background: #FFFFFF url("../images/fondo5.jpg") no-repeat left top;
}

#u2434
{
	z-index: 135;
	width: 353px;
	position: relative;
}

#u2446
{
	z-index: 137;
	width: 818px;
	background: #BDD625 url("../images/u2446-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#EFF6E3),color-stop(100%, #BDD625));
	background: -webkit-linear-gradient(left,#EFF6E3 ,#BDD625 100%);
	background: -moz-linear-gradient(left,#EFF6E3 ,#BDD625 100%);
	background: -ms-linear-gradient(left,#EFF6E3 ,#BDD625 100%);
	background: -o-linear-gradient(left,#EFF6E3 ,#BDD625 100%);
	background: linear-gradient(to right,#EFF6E3 ,#BDD625 100%);
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 10px 0px 0px 10px ;
	-webkit-border-radius: 10px 0px 0px 10px ;
	-khtml-border-radius: 10px 0px 0px 10px ;
	border-radius: 10px 0px 0px 10px ;
	margin-left: 39px;
	margin-top: 22px;
	position: relative;
}

#u2446_position_content
{
	margin-top: -18px;
	margin-bottom: 30px;
}

#pu3077-27
{
	width: 0.01px;
	margin-left: 22px;
	position: relative;
}

#u3077-27
{
	z-index: 143;
	width: 556px;
	min-height: 228px;
	line-height: 15px;
	color: #686363;
	font-size: 12px;
	letter-spacing: 1px;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
}

#u2440
{
	z-index: 141;
	width: 211px;
	position: relative;
	margin-right: -10000px;
	left: 613px;
}

#u3079-6
{
	z-index: 251;
	width: 317px;
	min-height: 17px;
	margin-left: 99px;
	margin-top: 5px;
	position: relative;
}

#u3080-5
{
	z-index: 269;
	width: 312px;
	min-height: 45px;
	color: #665E5E;
	margin-left: 99px;
	margin-top: 9px;
	position: relative;
}

#u3417
{
	z-index: 139;
	width: 818px;
	background: #FDFFF4 url("../images/u3417-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#2B96C3),color-stop(100%, #FDFFF4));
	background: -webkit-linear-gradient(left,#2B96C3 ,#FDFFF4 100%);
	background: -moz-linear-gradient(left,#2B96C3 ,#FDFFF4 100%);
	background: -ms-linear-gradient(left,#2B96C3 ,#FDFFF4 100%);
	background: -o-linear-gradient(left,#2B96C3 ,#FDFFF4 100%);
	background: linear-gradient(to right,#2B96C3 ,#FDFFF4 100%);
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 0px 10px 10px 0px ;
	-webkit-border-radius: 0px 10px 10px 0px ;
	-khtml-border-radius: 0px 10px 10px 0px ;
	border-radius: 0px 10px 10px 0px ;
	padding-bottom: 0px;
	margin-left: 41px;
	margin-top: 29px;
	position: relative;
}

#u3417_position_content
{
	margin-top: -21px;
	margin-bottom: 22px;
}

#pu3419
{
	width: 0.01px;
	left: -32px;
	position: relative;
}

#u3419
{
	z-index: 297;
	width: 236px;
	position: relative;
	margin-right: -10000px;
}

#u3425-27
{
	z-index: 197;
	width: 403px;
	min-height: 228px;
	font-size: 12px;
	line-height: 15px;
	text-align: right;
	color: #686363;
	letter-spacing: 1px;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 57px;
	left: 441px;
}

#u3426-6
{
	z-index: 257;
	width: 317px;
	min-height: 17px;
	margin-left: 495px;
	margin-top: 6px;
	position: relative;
}

#u3427-7
{
	z-index: 274;
	width: 312px;
	min-height: 45px;
	text-align: right;
	color: #665E5E;
	margin-left: 500px;
	margin-top: 10px;
	position: relative;
}

#u3613
{
	z-index: 138;
	width: 818px;
	background: #B618DA url("../images/u3613-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#EFF6E3),color-stop(100%, #B618DA));
	background: -webkit-linear-gradient(left,#EFF6E3 ,#B618DA 100%);
	background: -moz-linear-gradient(left,#EFF6E3 ,#B618DA 100%);
	background: -ms-linear-gradient(left,#EFF6E3 ,#B618DA 100%);
	background: -o-linear-gradient(left,#EFF6E3 ,#B618DA 100%);
	background: linear-gradient(to right,#EFF6E3 ,#B618DA 100%);
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 10px 0px 0px 10px ;
	-webkit-border-radius: 10px 0px 0px 10px ;
	-khtml-border-radius: 10px 0px 0px 10px ;
	border-radius: 10px 0px 0px 10px ;
	padding-bottom: 75px;
	margin-left: 41px;
	margin-top: 23px;
	position: relative;
}

#pu3614-27
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 20px;
}

#u3614-27
{
	z-index: 170;
	width: 556px;
	min-height: 228px;
	line-height: 15px;
	color: #686363;
	font-size: 12px;
	letter-spacing: 1px;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
}

#u3616-6
{
	z-index: 263;
	width: 317px;
	min-height: 17px;
	margin-top: 11px;
	position: relative;
}

#u3736
{
	z-index: 315;
	width: 232px;
	position: relative;
	margin-right: -10000px;
	margin-top: -23px;
	left: 611px;
}

#u3744
{
	z-index: 140;
	width: 818px;
	background: #FDFFF4 url("../images/u3744-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#F15A24),color-stop(100%, #FDFFF4));
	background: -webkit-linear-gradient(left,#F15A24 ,#FDFFF4 100%);
	background: -moz-linear-gradient(left,#F15A24 ,#FDFFF4 100%);
	background: -ms-linear-gradient(left,#F15A24 ,#FDFFF4 100%);
	background: -o-linear-gradient(left,#F15A24 ,#FDFFF4 100%);
	background: linear-gradient(to right,#F15A24 ,#FDFFF4 100%);
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 0px 10px 10px 0px ;
	-webkit-border-radius: 0px 10px 10px 0px ;
	-khtml-border-radius: 0px 10px 10px 0px ;
	border-radius: 0px 10px 10px 0px ;
	padding-bottom: 0px;
	margin-left: 41px;
	margin-top: 26px;
	position: relative;
}

#u3744_position_content
{
	margin-top: -19px;
	margin-bottom: 20px;
}

#pu3751
{
	width: 0.01px;
	left: -20px;
	position: relative;
}

#u3751
{
	z-index: 333;
	width: 224px;
	position: relative;
	margin-right: -10000px;
}

#u3419_img,#u3736_img,#u3751_img
{
	padding-right: 1px;
}

#u3758-27
{
	z-index: 224;
	width: 403px;
	min-height: 228px;
	font-size: 12px;
	line-height: 15px;
	text-align: right;
	color: #686363;
	letter-spacing: 1px;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 54px;
	left: 429px;
}

#u3077-5,#u3425-5,#u3614-5,#u3758-5
{
	text-indent: -2px;
}

#u4638-6
{
	z-index: 351;
	width: 272px;
	min-height: 32px;
	margin-left: 529px;
	margin-top: 3px;
	position: relative;
}

#u3079,#u3426,#u3616,#u4638
{
	color: #665E5E;
	font-weight: bold;
}

#u3079-2,#u3426-2,#u3616-2,#u4638-2
{
	color: #665E5E;
}

#u4720-5
{
	z-index: 357;
	width: 278px;
	min-height: 45px;
	color: #665E5E;
	margin-left: 529px;
	position: relative;
}

#u3077-25,#u3080,#u3425-25,#u3427,#u3427-3,#u3614-25,#u3758-25,#u4720
{
	font-weight: bold;
}

#u4496
{
	z-index: 349;
	width: 286px;
	margin-left: 297px;
	margin-top: 101px;
	position: relative;
}

#slideshowu3299
{
	z-index: 281;
	width: 0.01px;
	height: 340px;
	position: relative;
	margin-right: -10000px;
	margin-top: 216px;
	left: 624px;
}

#u3324
{
	position: absolute;
	width: 370px;
	height: 340px;
	background-color: transparent;
}

#u3324popup
{
	z-index: 282;
}

#u3325
{
	z-index: 283;
	width: 370px;
	height: 340px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 16px 0px 0px 16px ;
	-webkit-border-radius: 16px 0px 0px 16px ;
	-khtml-border-radius: 16px 0px 0px 16px ;
	border-radius: 16px 0px 0px 16px ;
	margin-right: -10000px;
	position: relative;
}

#u3397
{
	z-index: 285;
	width: 370px;
	height: 340px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 16px 0px 0px 16px ;
	-webkit-border-radius: 16px 0px 0px 16px ;
	-khtml-border-radius: 16px 0px 0px 16px ;
	border-radius: 16px 0px 0px 16px ;
	margin-right: -10000px;
	position: relative;
}

#u3406
{
	z-index: 287;
	width: 370px;
	height: 340px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 16px 0px 0px 16px ;
	-webkit-border-radius: 16px 0px 0px 16px ;
	-khtml-border-radius: 16px 0px 0px 16px ;
	border-radius: 16px 0px 0px 16px ;
	margin-right: -10000px;
	position: relative;
}

#u3325_clip,#u3397_clip,#u3406_clip
{
	overflow: hidden;
	width: 370px;
	height: 340px;
}

#u3325_img,#u3397_img,#u3406_img
{
	margin-top: -5px;
	margin-bottom: -6px;
}

#u3342-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 295px;
	left: 304px;
}

#u3342-4popup
{
	z-index: 289;
}

#u3334-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 295px;
	left: 334px;
}

#u3334-4popup
{
	z-index: 293;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#slideshowu3477
{
	z-index: 299;
	width: 0.01px;
	height: 340px;
	position: relative;
	margin-right: -10000px;
	margin-top: 633px;
	left: 188px;
}

#u3478popup
{
	z-index: 300;
}

#u3483
{
	z-index: 301;
	width: 371px;
	height: 340px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 0px 16px 16px 0px ;
	-webkit-border-radius: 0px 16px 16px 0px ;
	-khtml-border-radius: 0px 16px 16px 0px ;
	border-radius: 0px 16px 16px 0px ;
	margin-right: -10000px;
	position: relative;
}

#u3575
{
	z-index: 303;
	width: 371px;
	height: 340px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 0px 16px 16px 0px ;
	-webkit-border-radius: 0px 16px 16px 0px ;
	-khtml-border-radius: 0px 16px 16px 0px ;
	border-radius: 0px 16px 16px 0px ;
	margin-right: -10000px;
	position: relative;
}

#u3584
{
	z-index: 305;
	width: 371px;
	height: 340px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 0px 16px 16px 0px ;
	-webkit-border-radius: 0px 16px 16px 0px ;
	-khtml-border-radius: 0px 16px 16px 0px ;
	border-radius: 0px 16px 16px 0px ;
	margin-right: -10000px;
	position: relative;
}

#u3500-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 274px;
	left: 297px;
}

#u3500-4popup
{
	z-index: 307;
}

#u3494-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 274px;
	left: 328px;
}

#u3494-4popup
{
	z-index: 311;
}

#slideshowu3618
{
	z-index: 317;
	width: 0.01px;
	height: 340px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1041px;
	left: 626px;
}

#u3478,#u3620
{
	position: absolute;
	width: 371px;
	height: 340px;
	background-color: transparent;
}

#u3620popup
{
	z-index: 318;
}

#u3724
{
	z-index: 319;
	width: 371px;
	height: 340px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 19px 0px 0px 19px ;
	-webkit-border-radius: 19px 0px 0px 19px ;
	-khtml-border-radius: 19px 0px 0px 19px ;
	border-radius: 19px 0px 0px 19px ;
	margin-right: -10000px;
	position: relative;
}

#u3625
{
	z-index: 321;
	width: 371px;
	height: 340px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 19px 0px 0px 19px ;
	-webkit-border-radius: 19px 0px 0px 19px ;
	-khtml-border-radius: 19px 0px 0px 19px ;
	border-radius: 19px 0px 0px 19px ;
	margin-right: -10000px;
	position: relative;
}

#u3715
{
	z-index: 323;
	width: 371px;
	height: 340px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 19px 0px 0px 19px ;
	-webkit-border-radius: 19px 0px 0px 19px ;
	-khtml-border-radius: 19px 0px 0px 19px ;
	border-radius: 19px 0px 0px 19px ;
	margin-right: -10000px;
	position: relative;
}

#u3483_clip,#u3575_clip,#u3584_clip,#u3724_clip,#u3625_clip,#u3715_clip
{
	overflow: hidden;
	width: 371px;
	height: 340px;
}

#u3483_img,#u3575_img,#u3584_img,#u3724_img,#u3625_img,#u3715_img
{
	margin-top: -6px;
	margin-bottom: -5px;
}

#u3639-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	color: #0000FF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 279px;
	left: 313px;
}

#u3639-4popup
{
	z-index: 325;
}

#u3638-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	color: #0000FF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 279px;
	left: 339px;
}

#u3638-4popup
{
	z-index: 329;
}

#slideshowu3763
{
	z-index: 335;
	width: 0.01px;
	height: 339px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1453px;
	left: 188px;
}

#u3805
{
	position: absolute;
	width: 371px;
	height: 339px;
	background-color: transparent;
}

#u3805popup
{
	z-index: 336;
}

#u3808
{
	z-index: 337;
	width: 371px;
	height: 339px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3856
{
	z-index: 339;
	width: 371px;
	height: 339px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3808_clip,#u3856_clip
{
	overflow: hidden;
	width: 371px;
	height: 339px;
}

#u3808_img,#u3856_img
{
	margin-top: -6px;
	margin-bottom: -6px;
}

#u3788-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 295px;
	left: 307px;
}

#u3788-4popup
{
	z-index: 341;
}

#u3342,#u3500,#u3788
{
	color: #999999;
}

#u3789-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 295px;
	left: 336px;
}

#u3789-4popup
{
	z-index: 345;
}

#pu86,#pu96,#pu244-5
{
	width: 0.01px;
	left: -101px;
	position: relative;
}

#u244-5
{
	z-index: 3;
	width: 1160px;
	min-height: 143px;
	margin-right: -10000px;
}

#u306
{
	z-index: 25;
	width: 45px;
	height: 47px;
	margin-right: -10000px;
	margin-top: 30px;
	left: 865px;
}

#u306:hover
{
	margin: 30px -10000px 0px 0px;
}

#u306.MuseLinkActive
{
	margin: 30px -10000px 0px 0px;
}

#u319-8
{
	z-index: 26;
	width: 119px;
	min-height: 36px;
	margin-right: -10000px;
	margin-top: 27px;
	left: 920px;
}

#u4006-4
{
	z-index: 37;
	width: 63px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 124px;
}

#u4011-4
{
	z-index: 41;
	width: 65px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 48px;
	left: 278px;
}

#u4016-4
{
	z-index: 45;
	width: 81px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 48px;
	left: 435px;
}

#u4018-4
{
	z-index: 49;
	width: 87px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 592px;
}

#u4019-4
{
	z-index: 53;
	width: 134px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 32px;
	left: 592px;
}

#u4020-4
{
	z-index: 57;
	width: 134px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 68px;
	left: 592px;
}

#u4021-4
{
	z-index: 61;
	width: 134px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 106px;
	left: 593px;
}

#u4017-4
{
	z-index: 65;
	width: 81px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 70px;
	left: 435px;
}

#u4012-4
{
	z-index: 69;
	width: 97px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 72px;
	left: 279px;
}

#u4013-4
{
	z-index: 73;
	width: 84px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 96px;
	left: 280px;
}

#u4014-4
{
	z-index: 77;
	width: 84px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 435px;
}

#u4007-4
{
	z-index: 81;
	width: 63px;
	min-height: 2px;
	margin-right: -10000px;
	margin-top: 34px;
	left: 123px;
}

#u4008-4
{
	z-index: 85;
	width: 63px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 53px;
	left: 123px;
}

#u4009-4
{
	z-index: 89;
	width: 102px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 74px;
	left: 122px;
}

#u4010-4
{
	z-index: 93;
	width: 63px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 95px;
	left: 125px;
}

#u4001-4
{
	z-index: 97;
	width: 136px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 279px;
}

body
{
	padding-bottom: 18px;
}

#page .verticalspacer
{
	clear: both;
}

