#u86
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	position: relative;
	background: #FFFFFF url("../images/fonfo%20blanco.jpg") repeat-x left top;
}

#u304-4
{
	line-height: 14px;
	color: #7F7F7F;
	font-style: italic;
	position: relative;
}

#u290-6
{
	line-height: 12px;
	text-align: center;
	color: #7F7F7F;
	font-size: 10px;
	font-style: italic;
	position: relative;
}

#u266
{
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../images/icono%20map-capa%200%20copia120x142.png") no-repeat left top;
	background-size: contain !important;
}

#u266:hover
{
	background: transparent url("../images/icono%20map-capa%200120x142.png") no-repeat left top;
	background-size: contain !important;
}

#u266.MuseLinkActive
{
	background: transparent url("../images/icono%20map-capa%200120x142.png") no-repeat left top;
	background-size: contain !important;
}

#u265-4
{
	line-height: 12px;
	color: #7F7F7F;
	font-size: 10px;
	letter-spacing: 0px;
	font-style: italic;
	position: relative;
}

#u291
{
	position: relative;
	background: transparent url("../images/icono%20servicio%20al%20cliente-capa%201144x144.png") no-repeat left top;
	background-size: contain !important;
}

#u291:hover
{
	background: transparent url("../images/icono%20servicio%20al%20cliente144x144.png") no-repeat left top;
	background-size: contain !important;
}

#u291.MuseLinkActive
{
	background: transparent url("../images/icono%20servicio%20al%20cliente144x144.png") no-repeat left top;
	background-size: contain !important;
}

#u96
{
	background: #609DFE url("../images/u96-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(10%, #FFFFFF),to(#609DFE));
	background: -webkit-linear-gradient(top,#FFFFFF 10%,#609DFE );
	background: -moz-linear-gradient(top,#FFFFFF 10%,#609DFE );
	background: -ms-linear-gradient(top,#FFFFFF 10%,#609DFE );
	background: -o-linear-gradient(top,#FFFFFF 10%,#609DFE );
	background: linear-gradient(to bottom,#FFFFFF 10%,#609DFE );
	border-style: none;
	border-color: transparent;
	position: relative;
}

#u365
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 10px 10px 0px 0px ;
	-webkit-border-radius: 10px 10px 0px 0px ;
	-khtml-border-radius: 10px 10px 0px 0px ;
	border-radius: 10px 10px 0px 0px ;
	position: relative;
}

#u368
{
	vertical-align: top;
	background: url("../images/u368.png") no-repeat 0px 0px;
	position: relative;
}

#u365:hover #u368
{
	background: url("../images/u368-r.png") no-repeat 0px 0px;
}

#u365.MuseMenuActive #u368
{
	background: url("../images/u368-a.png") no-repeat 0px 0px;
}

#u370
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 10px 10px 0px 0px ;
	-webkit-border-radius: 10px 10px 0px 0px ;
	-khtml-border-radius: 10px 10px 0px 0px ;
	border-radius: 10px 10px 0px 0px ;
	position: relative;
}

#u371
{
	vertical-align: top;
	background: url("../images/u371.png") no-repeat 0px 0px;
	position: relative;
}

#u370:hover #u371
{
	background: url("../images/u371-r.png") no-repeat 0px 0px;
}

#u370.MuseMenuActive #u371
{
	background: url("../images/u371-a.png") no-repeat 0px 0px;
}

#u390
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 10px 10px 0px 0px ;
	-webkit-border-radius: 10px 10px 0px 0px ;
	-khtml-border-radius: 10px 10px 0px 0px ;
	border-radius: 10px 10px 0px 0px ;
	position: relative;
}

#u393
{
	vertical-align: top;
	background: url("../images/u393.png") no-repeat 0px 0px;
	position: relative;
}

#u390:hover #u393
{
	background: url("../images/u393-r.png") no-repeat 0px 0px;
}

#u390.MuseMenuActive #u393
{
	background: url("../images/u393-a.png") no-repeat 0px 0px;
}

#u4679
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 10px 10px 0px 0px ;
	-webkit-border-radius: 10px 10px 0px 0px ;
	-khtml-border-radius: 10px 10px 0px 0px ;
	border-radius: 10px 10px 0px 0px ;
	position: relative;
}

#u4681
{
	vertical-align: top;
	background: url("../images/u4681.png") no-repeat 0px 0px;
	position: relative;
}

#u4679:hover #u4681
{
	background: url("../images/u4681-r.png") no-repeat 0px 0px;
}

#u4679.MuseMenuActive #u4681
{
	background: url("../images/u4681-a.png") no-repeat 0px 0px;
}

#u86_align_to_page,#u4206,#u96_align_to_page,#menuu344,#u362,#u369,#u387,#u4678,#u401
{
	position: relative;
}

#u402
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 10px 10px 0px 0px ;
	-webkit-border-radius: 10px 10px 0px 0px ;
	-khtml-border-radius: 10px 10px 0px 0px ;
	border-radius: 10px 10px 0px 0px ;
	position: relative;
}

#u405
{
	vertical-align: top;
	background: url("../images/u405.png") no-repeat 0px 0px;
	position: relative;
}

#u402:hover #u405
{
	background: url("../images/u405-r.png") no-repeat 0px 0px;
}

#u402.MuseMenuActive #u405
{
	background: url("../images/u405-a.png") no-repeat 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u4004-3
{
	line-height: 12px;
	text-align: left;
	color: #FFFFFF;
	font-size: 12px;
	position: relative;
}

#u244-5
{
	background: -webkit-gradient(linear, center top, center bottom, from(#619EFF),color-stop(100%, #003CCC));
	background: -webkit-linear-gradient(top,#619EFF ,#003CCC 100%);
	background: -moz-linear-gradient(top,#619EFF ,#003CCC 100%);
	background: -ms-linear-gradient(top,#619EFF ,#003CCC 100%);
	background: -o-linear-gradient(top,#619EFF ,#003CCC 100%);
	background: linear-gradient(to bottom,#619EFF ,#003CCC 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF619EFF, endColorstr=#FF003CCC, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF619EFF', endColorstr='#FF003CCC', GradientType=0)";
	border-style: none;
	border-color: transparent;
	position: relative;
}

#u306
{
	position: relative;
	background: transparent url("../images/icono%20telefono-capa%200180x180.png") no-repeat left top;
	background-size: contain !important;
}

#u306:hover
{
	background: transparent url("../images/icono%20telefono-capa%200%20copia180x180.png") no-repeat left top;
	background-size: contain !important;
}

#u306.MuseLinkActive
{
	background: transparent url("../images/icono%20telefono-capa%200%20copia180x180.png") no-repeat left top;
	background-size: contain !important;
}

#u319-8
{
	text-align: center;
	color: #FFFFFF;
	position: relative;
}

#u319-2
{
	font-size: 14px;
	line-height: 14px;
}

#u319-4
{
	font-size: 27px;
	line-height: 28px;
	font-weight: bold;
}

#u319-6
{
	font-size: 14px;
	line-height: 14px;
	font-weight: bold;
}

#u4006-4,#u4011-4,#u4016-4,#u4018-4,#u4019-4,#u4020-4,#u4021-4,#u4017-4,#u4012-4,#u4013-4,#u4014-4,#u4007-4,#u4008-4,#u4009-4,#u4010-4
{
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	position: relative;
}

#u4001-4
{
	line-height: 14px;
	color: #FFAF02;
	font-size: 12px;
	font-weight: bold;
	font-style: italic;
	position: relative;
}

