.html
{
	background-color: #609DFE;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 670px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #609DFE;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -27px;
}

#u86
{
	z-index: 2;
	width: 1159px;
	padding-bottom: 9px;
	margin-bottom: -1px;
	margin-right: -10000px;
}

#u86_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 959px;
	left: -100px;
}

#u4206
{
	z-index: 132;
	width: 234px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 101px;
}

#u304-4
{
	z-index: 21;
	width: 182px;
	min-height: 13px;
	margin-right: -10000px;
	margin-top: 49px;
	left: 372px;
}

#u290-6
{
	z-index: 13;
	width: 50px;
	min-height: 9px;
	margin-right: -10000px;
	margin-top: 55px;
	left: 931px;
}

#pu266
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 993px;
}

#u266
{
	z-index: 19;
	width: 30px;
	height: 35px;
	margin-left: 7px;
}

#u266:hover
{
	margin: 0px 0px 0px 7px;
}

#u266.MuseLinkActive
{
	margin: 0px 0px 0px 7px;
}

#u265-4
{
	z-index: 9;
	width: 45px;
	min-height: 9px;
	margin-top: 1px;
}

#u291
{
	z-index: 20;
	width: 36px;
	height: 36px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 940px;
}

#u291:hover
{
	margin: 20px -10000px 0px 0px;
}

#u291.MuseLinkActive
{
	margin: 20px -10000px 0px 0px;
}

#u96
{
	z-index: 8;
	width: 1160px;
	padding-bottom: 179px;
	margin-right: -10000px;
}

#u96_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#menuu344
{
	z-index: 101;
	width: 756px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 201px;
}

#u362
{
	width: 149px;
	min-height: 31px;
	margin-right: -10000px;
}

#u365
{
	width: 149px;
	padding-bottom: 14px;
}

#u369
{
	width: 149px;
	min-height: 31px;
	margin-right: -10000px;
	left: 151px;
}

#u370
{
	width: 149px;
	padding-bottom: 14px;
}

#u368,#u371
{
	height: 17px;
	width: 149px;
	margin-right: -10000px;
	top: 7px;
}

#u387
{
	width: 150px;
	min-height: 31px;
	margin-right: -10000px;
	left: 302px;
}

#u390
{
	width: 150px;
	padding-bottom: 14px;
}

#u4678
{
	width: 150px;
	min-height: 31px;
	margin-right: -10000px;
	left: 454px;
}

#u4679
{
	width: 150px;
	padding-bottom: 14px;
}

#u401
{
	width: 150px;
	min-height: 31px;
	margin-right: -10000px;
	left: 606px;
}

#u402
{
	width: 150px;
	padding-bottom: 14px;
}

#u365.MuseMenuActive,#u370.MuseMenuActive,#u390.MuseMenuActive,#u4679.MuseMenuActive,#u402.MuseMenuActive
{
	margin: 0px;
}

#u393,#u4681,#u405
{
	height: 17px;
	width: 150px;
	margin-right: -10000px;
	top: 7px;
}

#u4004-3
{
	z-index: 34;
	width: 136px;
	min-height: 79px;
	margin-right: -10000px;
	margin-top: 385px;
	left: 123px;
}

#u2380
{
	z-index: 134;
	width: 851px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 54px;
	left: 123px;
	padding: 18px 51px 19px 14px;
	background: #FFFFFF url("../images/fondo5.jpg") no-repeat left top;
}

#u2381
{
	z-index: 135;
	width: 383px;
	position: relative;
}

#u2381_img
{
	padding-right: 1px;
}

#u2387-10
{
	z-index: 137;
	width: 433px;
	min-height: 132px;
	margin-left: 21px;
	margin-top: 12px;
	position: relative;
}

#u2387-2,#u2387-4,#u2387-5,#u2387-7
{
	text-align: justify;
	color: #534741;
}

#u4305
{
	z-index: 148;
	width: 288px;
	margin-left: 104px;
	margin-top: 196px;
	position: relative;
}

#u4305_clip
{
	overflow: hidden;
	width: 288px;
	height: 42px;
}

#u4305_img
{
	margin-right: -7px;
}

#u4274
{
	z-index: 147;
	width: 813px;
	height: 25px;
	background-color: transparent;
	margin-left: 38px;
	margin-top: 16px;
	position: relative;
}

#U4276_animation
{
	width: 813px;
	height: 25px;
	border: none;
}

#u4329
{
	z-index: 150;
	width: 876px;
	height: 438px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 72px;
	left: 148px;
}

#U4331_animation
{
	width: 876px;
	height: 438px;
	border: none;
}

#pu86,#pu96,#pu244-5
{
	width: 0.01px;
	left: -101px;
	position: relative;
}

#u244-5
{
	z-index: 3;
	width: 1160px;
	min-height: 143px;
	margin-right: -10000px;
}

#u306
{
	z-index: 25;
	width: 45px;
	height: 47px;
	margin-right: -10000px;
	margin-top: 30px;
	left: 865px;
}

#u306:hover
{
	margin: 30px -10000px 0px 0px;
}

#u306.MuseLinkActive
{
	margin: 30px -10000px 0px 0px;
}

#u319-8
{
	z-index: 26;
	width: 119px;
	min-height: 36px;
	margin-right: -10000px;
	margin-top: 27px;
	left: 920px;
}

#u4006-4
{
	z-index: 37;
	width: 63px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 124px;
}

#u4011-4
{
	z-index: 41;
	width: 65px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 48px;
	left: 278px;
}

#u4016-4
{
	z-index: 45;
	width: 81px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 48px;
	left: 435px;
}

#u4018-4
{
	z-index: 49;
	width: 87px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 592px;
}

#u4019-4
{
	z-index: 53;
	width: 134px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 32px;
	left: 592px;
}

#u4020-4
{
	z-index: 57;
	width: 134px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 68px;
	left: 592px;
}

#u4021-4
{
	z-index: 61;
	width: 134px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 106px;
	left: 593px;
}

#u4017-4
{
	z-index: 65;
	width: 81px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 70px;
	left: 435px;
}

#u4012-4
{
	z-index: 69;
	width: 97px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 72px;
	left: 279px;
}

#u4013-4
{
	z-index: 73;
	width: 84px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 96px;
	left: 280px;
}

#u4014-4
{
	z-index: 77;
	width: 84px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 435px;
}

#u4007-4
{
	z-index: 81;
	width: 63px;
	min-height: 2px;
	margin-right: -10000px;
	margin-top: 34px;
	left: 123px;
}

#u4008-4
{
	z-index: 85;
	width: 63px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 53px;
	left: 123px;
}

#u4009-4
{
	z-index: 89;
	width: 102px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 74px;
	left: 122px;
}

#u4010-4
{
	z-index: 93;
	width: 63px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 95px;
	left: 125px;
}

#u4001-4
{
	z-index: 97;
	width: 136px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 279px;
}

body
{
	padding-bottom: 18px;
}

#page .verticalspacer
{
	clear: both;
}

